<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- ===================================================================== -->
<!--                                                                       -->
<!--  Log4j Configuration                                                  -->
<!--                                                                       -->
<!-- ===================================================================== -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

   <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
      <param name="Target" value="System.out"/>
      <param name="Threshold" value="INFO"/>

      <layout class="org.apache.log4j.PatternLayout">
         <!-- The default pattern: Date Priority [Category] Message\n -->
         <param name="ConversionPattern" value="// Generated %d{ABSOLUTE} %n%m%n"/>
      </layout>
   </appender>

    <appender name="au.com.dw.testdatacapturej-file"
		class="org.apache.log4j.FileAppender">
		<param name="file" value="${catalina.home}/logs/Test.java" />
		<param name="threshold" value="info" />
		<param name="immediateFlush" value="true" />
		<param name="append" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="// Generated %d{ABSOLUTE} %n%m%n" />
		</layout>
	</appender>
	
	<logger name="au.com.dw.testdatacapturej-trace" additivity="false">
	   <level value="INFO" />
	   <appender-ref ref="au.com.dw.testdatacapturej-file" />
	</logger>

   <!-- ======================= -->
   <!-- Setup the Root category -->
   <!-- ======================= -->

   <root>
      <appender-ref ref="CONSOLE"/>
   </root>

</log4j:configuration>
